* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #191B1D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
header {
  max-width: 418px;
  width: 100%;
  background-color: #BC1E4A;
  padding: 1.5rem;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  border-radius: 0 0 8px 8px;
  margin-bottom: 5rem;
}
header p {
  margin-bottom: 1rem;
}
header h3 {
  font-weight: 700;
  font-size: 1.25rem;
}
main {
  margin: 7rem auto 3rem auto;
  text-align: center;
  color: #fff;
}
main h2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}
main .toggle-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
main .toggle-container .toggle {
  position: relative;
  background-color: #BC1E4A;
  width: 60px;
  height: 32px;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}
main .toggle-container .toggle:before {
  content: '';
  position: absolute;
  top: 3px;
  right: 4px;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
main .toggle-container .toggle.active:before {
  transform: translateX(-28px);
}
main .card-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
main .card-container .cards {
  max-width: 375px;
  width: 100%;
  padding: 2rem;
  background-color: #22262C;
  color: #fff;
  border-radius: 10px;
}
@media (max-width: 410px) {
  main .card-container .cards {
    width: 90%;
  }
}
main .card-container .cards h3 {
  font-weight: 600;
  font-size: 1.5625rem;
  margin-bottom: 1rem;
}
main .card-container .cards h1 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
main .card-container .cards h1 .month {
  font-size: 1.5rem;
}
main .card-container .cards .heading {
  font-size: 2.25rem;
}
main .card-container .cards #monthly-mau {
  outline: none;
  max-width: 297px;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.25rem;
  color: #fff;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #5C6268;
  margin-top: -1rem;
  margin-bottom: 0.4rem;
}
main .card-container .cards #monthly-mau option {
  background-color: rgba(34, 38, 44, 0.9);
  color: #fff;
}
main .card-container .cards .active {
  display: block;
  text-align: left;
  font-size: 0.875rem;
  color: #BC1E4A;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
main .card-container .cards ul {
  max-width: 215px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
main .card-container .cards ul li::marker {
  color: #BC1E4A;
}
main .card-container .cards ul li {
  margin-bottom: 0.9rem;
}
main .card-container .cards .plan,
main .card-container .cards .contact {
  margin-top: 1.3rem;
  padding: 1rem;
  max-width: 243px;
  width: 100%;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.125rem;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #BC1E4A;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
main .card-container .cards .plan:hover,
main .card-container .cards .contact:hover {
  background-color: #BC1E4A;
}
main .card-container .cards:nth-of-type(2) .plan {
  background-color: #BC1E4A;
}
main .card-container .cards:nth-of-type(2) .plan:hover {
  background-color: transparent;
  border-color: #BC1E4A;
}
footer {
  text-align: center;
  color: #5C6268;
  margin-bottom: 0.8rem;
}
footer a,
footer a:visited {
  text-decoration: none;
  font-style: italic;
  color: #BC1E4A;
}
